.footer {
    background-color: #BDB76B;
}

footer p,
footer a {
    color: #F0E68C;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px 0;
}

.footer-info p {
    padding: 5px 0;
    line-height: 1.3;
}

.footer-info > div p:first-child {
    font-size: 1.5rem;
}

.additional-info p {
    font-size: 14px;
}

.footer-text {
    text-align: center;
}

@media (max-width: 768px) and (min-width: 576px) {
    .footer-info {
        grid-template-columns: 1fr;
    }

    .footer-address::before,
    .footer-address::after {
        content: '';
        display: block;
        margin: 5px auto;
        width: 80%;
        padding: 1px 0;
        background-color: #FFFFFF;
    }

    .footer-info p {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .footer-info {
        grid-template-columns: 1fr;
    }

    .footer-address::before,
    .footer-address::after {
        content: '';
        display: block;
        margin: 5px auto;
        width: 40%;
        padding: 1px 0;
        background-color: #FFFFFF;
    }
}